{%extends 'master.html'%}
{% load static%}

{% block title%}Search Book{%endblock%}

{% block body%}
<link rel="stylesheet" type="text/css" href="{% static 'TabStyle.css' %}">
<script src="{% static 'ask.js' %}"></script>


<form action="/home/show/" method="POST"> {% csrf_token %}
    <div style="margin-top: 2%;position: relative;">

        <center><label style="margin-left: 40%;">
                <input type="text" name="q" id="bookname" placeholder="Search Book"
                    style=" width:280px;border: solid whitesmoke 2px;cursor: pointer; border-radius: 8px;padding: 6px;">
                <input type="submit" value="Search" class="btn btn-outline-dark" id="btn1"
                    style="cursor: pointer;border-radius: 15px;padding: 6px;width:130px;margin-left: 10px;">
                <a href="/home/show/"><input type="submit" value="Show All Book" class="btn btn-outline-dark"
                        style="width:150px;border-radius: 15px;padding: 6px;"></a>
                        <!-- <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
                            sagittis lacus vel augue laoreet rutrum faucibus.">
                            
                            
                              Cart(<span id="cart">0</span>)
                            </button> -->
            </label></center>
</form>

<center>
    <table class="t1" id="tt1">
        <tr id="r1">
            <td>BookName</td>
            <td> Edition </td>
            <td> AuthorName </td>
            <td> Publication </td>
            <td> BookCategory </td>
            <td> Add </td>
        </tr><br><br>
        {% for item in Book_dets %}
        <tr id="1">
            <td>{{ item.BookName }}</td>
            <td>{{ item.Edition }}</td>
            <td>{{ item.AuthorName }}</td>
            <td>{{ item.Publication }}</td>
            <td>{{ item.BookCategory }}</td>
            <!-- <td>
                <form action="/home/delete/" method="POST"> {% csrf_token %}<a href="/home/delete/"><input type="button"
                            value="Add To Cart" onclick="return check()" class="btn btn-primary cart"></a>
            </td> -->
            <td>
               <a href="/home/delete/"><input type="button"
                            value="Add To Cart" onclick="return check()" class="btn btn-primary cart"></a>
            </td>

        </tr>
        {% endfor %}
    </table><br>
</center>
<center><label id="l1">Your Cart:</label></center>


</div>
<script type="text/javascript">
    document.getElementById("bookname").value = "{{query}}"
</script>
</body>

{%endblock%}